/*
    ==============================================
                ****** RESET *****
    ==============================================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

li {
  padding: 14px 10px;
}

li:nth-child(odd) {
  background-color: rosybrown;
}

main {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 0 0.5rem;
}

h1 {
  font-size: 46px;
  color: rgb(189, 18, 123);
  text-shadow: 3px 3px 5px darkorchid;
}

.subtitle {
  font-size: 28px;
  color: rgb(77, 2, 77);
  text-shadow: 3px 3px 5px rgb(204, 50, 153);
}

.main-container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 2rem;
  background-color: paleturquoise;
}

.div-score-top {
  display: flex;
  gap: 1rem;
}

.table {
  border: 1px solid rosybrown;
  margin-top: 1rem;
}

.table-row {
  padding: 0.3rem;
}

.table-row:nth-child(even) {
  background-color: #ddd;
}

.div-inputs {
  padding: 0 0.5rem;
}

form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  color: black;
  background-color: rgb(72, 134, 150);
  border: 1px solid rgb(225, 65, 177);
}

input::placeholder {
  color: white;
}

input:focus {
  outline: none;
  background-color: rgb(72, 134, 150);
  border: 1px solid rosybrown;
  box-shadow: 0 0 10px rgb(198, 65, 225);
}

.button {
  padding: 0.8rem;
  color: whitesmoke;
  background-color: rgb(165, 38, 159);
}

.button:hover {
  border: 1px solid rgb(77, 2, 77);
  box-shadow: 0 0 10px rgb(77, 2, 77);
}

@media only screen and (max-width: 924px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
  }
}
